{% extends "layout.html" %}

{% block title %} This vs That | Add Product {% endblock %}

{% block pageStyle %}
    <link rel="stylesheet" href="/styles/index.css">
{% endblock %}

{% block pageScripts %}
    <script src="scripts/add-produ ct.js"></script>
{% endblock %}

{% block content %}
    <main class="container">
        <div class="main-body">
            <div class="gutters-sm">
                <div class="card mb-4">
                    <h3 class="card-header">Category</h3>
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <div class="form-group">
                                <label class="col-md-6 control-label" for="product_categorie">Product Category</label>
                                <div class="col-md-6">
                                    <select id="product_categorie" name="product_categorie" class="form-control"
                                        onchange="updatePage()">
                                        <option value="mouse">Mouse</option>
                                        <option value="keyboard">Keyboard</option>
                                        <option value="headphone">Headphone</option>
                                        <option value="monitor">Monitor</option>
                                        <option value="phone">Phone</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- general data -->
                <div id="common-information" class="device-information">
                    <!-- product image -->
                    <div class="card mb-4">
                        <h3 class="card-header">Product Image</h3>
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="assets/placeholder.jpg" alt="product_img" id="product_img" class="rounded-2"
                                    width="200">
                                <div class="mt-3">
                                    <input type="file" id="upload-btn" hidden onchange="loadFile(event)"/>
                                    <label for="upload-btn" class="btn btn-primary">Upload Product Image</label>
                                </div>
                            </div>
                        </div>

                        <script>
                            var loadFile = function (event) {
                                var image = document.getElementById("product_img");
                                image.src = URL.createObjectURL(event.target.files[0]);
                            };
                        </script>
                    </div>

                    <!-- model info -->
                    <div class="card mb-4 model-information">
                        <h3 class="card-header">Model Information</h3>
                        <div class="card-body">
                            <div class="d-flex flex-column">
                                <!-- Brand -->
                                <div class="form-group mb-3">
                                    <label class="col-md-6 control-label" for="brand">Brand</label>
                                    <div class="col-md-6">
                                        <input name="brand" placeholder="Example: BenQ, Samsung"
                                            class="form-control input-md" required="" type="text">
                                    </div>
                                </div>

                                <!-- Model -->
                                <div class="form-group mb-3">
                                    <label class="col-md-6 control-label" for="Model">Model Name</label>
                                    <div class="col-md-6">
                                        <input name="Model" placeholder="Example: Odyssey G9"
                                            class="form-control input-md" required="" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- general info -->
                    <div class="card mb-4 general-information">
                        <h3 class="card-header">General Information</h3>
                        <div class="card-body">
                            <div class="d-flex flex-column">
                                <!-- Dimensions -->
                                <div class="form-group mb-3">
                                    <label class="col-md-6 control-label" for="dim">Dimensions (cm)</label>

                                    <div class="col-md-6 d-flex">
                                        <input name="width" placeholder="Width (cm)" class="form-control input-md m-1"
                                            required="" type="text">
                                        <input name="length" placeholder="Length (cm)" class="form-control input-md m-1"
                                            required="" type="text">
                                        <input name="height" placeholder="Height (cm)" class="form-control input-md m-1"
                                            required="" type="text">
                                    </div>
                                </div>

                                <!-- Weight -->
                                <div class="form-group mb-3">
                                    <label class="col-md-6 control-label" for="weight">Weight (kg)</label>
                                    <div class="col-md-6">
                                        <input name="weight" placeholder="Weight (kg)" class="form-control input-md"
                                            required="" type="text">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Monitor Specs -->
                <div id="display-information" class="card mb-4 device-information">
                    <h3 class="card-header">Display Information</h3>
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <!-- Resolution -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="resolution">Resolution (px)</label>

                                <div class="col-md-6 d-flex">
                                    <input name="horizontal" placeholder="Horizontal (px)"
                                        class="form-control input-md m-1" required="" type="text">

                                    <input name="vertical" placeholder="Vertical (px)" class="form-control input-md m-1"
                                        required="" type="text">
                                </div>
                            </div>

                            <!-- Screen Size -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="screen-size">Screen Size (inch)</label>
                                <div class="col-md-6">
                                    <input name="screen-size" placeholder="Example: 32" class="form-control input-md"
                                        required="" type="text">
                                </div>
                            </div>

                            <!-- Display Type -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="display">Display Type</label>
                                <div class="col-md-6">
                                    <input name="display-type" placeholder="Example: LCD, OLED, LED"
                                        class="form-control input-md" required="" type="text">
                                </div>
                            </div>

                            <!-- Panel Type -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="panel">Panel Type</label>
                                <div class="col-md-6">
                                    <input name="panel" placeholder="Example: IPS, VA" class="form-control input-md"
                                        required="" type="text">
                                </div>
                            </div>

                            <!-- Refresh Rate -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="refresh-rate">Refresh Rate (Hz)</label>
                                <div class="col-md-6">
                                    <input name="refresh-rate" placeholder="Example: 1 Hz" class="form-control input-md"
                                        required="" type="text">
                                </div>
                            </div>

                            <!-- Respose Time -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="respose-time">Respose Time (ms)</label>
                                <div class="col-md-6">
                                    <input name="respose-time" placeholder="Example: 4 ms" class="form-control input-md"
                                        required="" type="text">
                                </div>
                            </div>

                            <!-- Pixel Density -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="respose-time">Pixel Density (ppi)</label>
                                <div class="col-md-6">
                                    <input name="respose-time" placeholder="Example: 137 ppi"
                                        class="form-control input-md" required="" type="text">
                                </div>
                            </div>

                            <!-- Brightness -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="brightness">Brightness (nits)</label>
                                <div class="col-md-6">
                                    <input name="brightness" placeholder="Example: 300 nits"
                                        class="form-control input-md" required="" type="text">
                                </div>
                            </div>

                            <!-- Touch -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="touch-support">Touch Support:</label>
                                <div class="col-md-6">
                                    <div class="mx-2">
                                        <input type="radio" name="touch-support" value="true">
                                        <label>Yes</label>
                                    </div>
                                    <div class="mx-2">
                                        <input type="radio" name="touch-support" value="false">
                                        <label>No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Phone Specs -->
                <div id="phone-information" class="card mb-4 device-information">
                    <h3 class="card-header">Mobile Information</h3>
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <!-- Resolution -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="resolution">Resolution (px)</label>

                                <div class="col-md-6 d-flex">
                                    <input name="horizontal" placeholder="Horizontal (px)"
                                        class="form-control input-md m-1" required="" type="text">

                                    <input name="vertical" placeholder="Vertical (px)" class="form-control input-md m-1"
                                        required="" type="text">
                                </div>
                            </div>

                            <!-- Screen Size -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="screen-size">Screen Size (inch)</label>
                                <div class="col-md-6">
                                    <input name="screen-size" placeholder="Example: 32" class="form-control input-md"
                                        required="" type="text">
                                </div>
                            </div>

                            <!-- Refresh Rate -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="refresh-rate">Refresh Rate (Hz)</label>
                                <div class="col-md-6">
                                    <input name="refresh-rate" placeholder="Example: 1" class="form-control input-md"
                                        required="" type="text">
                                </div>
                            </div>

                            <!-- Pixel Density -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="respose-time">Pixel Density (ppi)</label>
                                <div class="col-md-6">
                                    <input name="respose-time" placeholder="Example: 137" class="form-control input-md"
                                        required="" type="text">
                                </div>
                            </div>

                            <!-- RAM -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="ram">RAM (GB)</label>
                                <div class="col-md-6">
                                    <input name="ram" placeholder="Example: 2" class="form-control input-md" required=""
                                        type="text">
                                </div>
                            </div>

                            <!-- Battery Capacity -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="battery-capacity">Battery Capacity
                                    (mAh)</label>
                                <div class="col-md-6">
                                    <input name="battery-capacity" placeholder="Example: 3500"
                                        class="form-control input-md" required="" type="text">
                                </div>
                            </div>

                            <!-- Internal Storage -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="internal-storage">Internal Storage
                                    (GB)</label>
                                <div class="col-md-6">
                                    <input name="internal-storage" placeholder="Example: 256"
                                        class="form-control input-md" required="" type="text">
                                </div>
                            </div>

                            <!-- Mega Pixels -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="mega-pixels">Mega Pixels (MP)</label>
                                <div class="col-md-6">
                                    <input name="mega-pixels" placeholder="Example: 48" class="form-control input-md"
                                        required="" type="text">
                                </div>
                            </div>

                            <!-- SIM -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="sim">Number of SIMs</label>
                                <div class="col-md-6">
                                    <input name="sim" placeholder="Example: 1 SIM" class="form-control input-md"
                                        required="" type="text">
                                </div>
                            </div>

                            <!-- Charging Speed -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="charging-speed">Charging Speed (W)</label>
                                <div class="col-md-6">
                                    <input name="charging-speed" placeholder="Example: 65" class="form-control input-md"
                                        required="" type="text">
                                </div>
                            </div>

                            <!-- Brightness -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="brightness">Brightness (nits)</label>
                                <div class="col-md-6">
                                    <input name="brightness" placeholder="Example: 300" class="form-control input-md"
                                        required="" type="text">
                                </div>
                            </div>

                            <!-- Water and Dust Resistant -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="water-resistant">Water and Dust
                                    Resistant</label>
                                <div class="col-md-6">
                                    <input name="brightness" placeholder="Example: IP64" class="form-control input-md"
                                        required="" type="text">
                                </div>
                            </div>

                            <!-- Wireless Charging -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="wireless-charging">Wireless Charging</label>
                                <div class="col-md-6">
                                    <div class="mx-2">
                                        <input type="radio" name="wireless-charging" value="true">
                                        <label>Yes</label>
                                    </div>
                                    <div class="mx-2">
                                        <input type="radio" name="wireless-charging" value="false">
                                        <label>No</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Fingerprint Reader -->
                            <div class="form-group mb-3">
                                <label class="col-md-6 control-label" for="Fingerprint">Fingerprint Reader</label>
                                <div class="col-md-6">
                                    <div class="mx-2">
                                        <input type="radio" name="Fingerprint" value="true">
                                        <label>Yes</label>
                                    </div>
                                    <div class="mx-2">
                                        <input type="radio" name="Fingerprint" value="false">
                                        <label>No</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary text-center p-3">Submit</button>
                </div>

            </div>
        </div>
    </main>
{% endblock %}