{% extends "layout.html" %}

{% block title %} This vs That | Select Devices {% endblock %}

{% block pageStyle %}
<link rel="stylesheet" href="/styles/browse-select.css">
{% endblock %}

{% block pageScripts %}
<script src="scripts/browse.js"></script>
<script src="scripts/browse-select.js"></script>
{% endblock %}

{% block content %}


<main>
    <div class="d-flex flex-row">
        <!-- Filter -->
        <div class="filter-side ">

            <form action="/browse-select.html" method="get">
                <div class="d-flex flex-row align-content-between row">
                    <h2>Filter</h2>
                    <button type="submit" class="btn btn-light apply-filter">Apply Filter</button>
                </div>

                <h4>Sort By</h4>
                <select name="sort" id="sort" class="m-auto">
                    <option value="type" selected>Device Type</option>
                    <option value="AZname">A to Z (Name)</option>
                    <option value="ZAname">Z to A (Name)</option>
                    <option value="AZmodel">A to Z (Model)</option>
                    <option value="ZAmodel">Z to A (Model)</option>
                </select>

                <hr>

                <div class="d-flex flex-column">
                    <h4>Type</h4>

                    <div>
                        <input type="checkbox" name="Type" id="mouse" value="'mouse'" onchange="showMouseBrands()">
                        <label>Mouse</label>
                    </div>

                    <div>
                        <input type="checkbox" name="Type" id="keyboard" value="'keyboard'"
                            onchange="showKeyboardBrands()">
                        <label>keyboard</label>
                    </div>
                    <div>
                        <input type="checkbox" name="Type" id="headphone" value="'headset'"
                            onchange="showHeadphoneBrands()">
                        <label>Headset</label>
                    </div>
                    <div>
                        <input type="checkbox" name="Type" id="monitor" value="'monitor'"
                            onchange="showMonitorBrands()">
                        <label>Monitor</label>
                    </div>
                    <div>
                        <input type="checkbox" name="Type" id="phone" value="'phone'" onchange="showPhoneBrands()">
                        <label>Phone</label>
                    </div>

                </div>

                <!-- Filter Brands -->
                <div>

                    <br>
                    <h4 id="brands-title" style="display: none;">Brand</h4>

                    <div id="mouse-brands-filter" style="display: none;">
                        <h5>Mouse Brands</h5>

                        {% for brand in mouseBrands %}
                        <div>
                            <input type="checkbox" name="mouse_brand" id="brand-{{brand.manufacturer}}"
                                value="'{{brand.manufacturer}}'">
                            <label>{{brand.manufacturer}}</label>
                        </div>
                        {%endfor%}
                        <br>
                    </div>

                    <div id="keyboard-brands-filter" style="display: none;">
                        <h5>Keyboard Brands</h5>

                        {% for brand in keyboardBrands %}
                        <div>
                            <input type="checkbox" name="keyboard_brand" id="brand-{{brand.manufacturer}}"
                                value="'{{brand.manufacturer}}'">
                            <label>{{brand.manufacturer}}</label>
                        </div>
                        {%endfor%}
                        <br>
                    </div>

                    <div id="headphone-brands-filter" style="display: none;">
                        <h5>Headset Brands</h5>

                        {% for brand in headsetBrands %}
                        <div>
                            <input type="checkbox" name="headset_brand" id="brand-{{brand.manufacturer}}"
                                value="'{{brand.manufacturer}}'">
                            <label>{{brand.manufacturer}}</label>
                        </div>
                        {%endfor%}
                        <br>
                    </div>

                    <div id="monitor-brands-filter" style="display: none;">
                        <h5>Keyboard Brands</h5>

                        {% for brand in monitorBrands %}
                        <div>
                            <input type="checkbox" name="monitor_brand" id="brand-{{brand.manufacturer}}"
                                value="'{{brand.manufacturer}}'">
                            <label>{{brand.manufacturer}}</label>
                        </div>
                        {%endfor%}
                        <br>
                    </div>

                    <div id="phone-brands-filter" style="display: none;">
                        <h5>Phone Brands</h5>

                        {% for brand in phoneBrands %}
                        <div>
                            <input type="checkbox" name="phone_brand" id="brand-{{brand.manufacturer}}"
                                value="'{{brand.manufacturer}}'">
                            <label>{{brand.manufacturer}}</label>
                        </div>
                        {%endfor%}
                        <br>
                    </div>
                </div>
                <button type="submit" class="btn btn-light apply-filter">Apply Filter</button>
            </form>
        </div>

        <!-- Products -->
        <section class="catagories container-fluid justify-content-center text-center px-auto mx-auto">
            <div class="row column-gap-5 row-gap-5 justify-content-center">
                {% for item in items %}
                <button id={{item.id}} isSelected="" class="myButton product-card col-lg col-auto"
                    onclick="selectButton(this)">
                    <img src="{{item.picture}}" alt="{{item.category}}" class="card-img" />
                    <p class="card-title product-title mt-auto">{{item.name}}</p>
                </button>
                {%endfor%}
                <br>
            </div>

        </section>
    </div>

    <div class="d-flex flex-row justify-content-between fixed-bottom p-4"
        style="background-color: #e8e8e8;    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    ">
        <h5 class="my-auto">Selected Devices:</h5>
        <ul id="selected_devices_tags" class="text-start d-flex flex-wrap container my-auto">

        </ul>
        <button class="btn btn-primary" onclick="window.location.href=`${sendElements()}`">
            Compare Selected Devices
        </button>
    </div>

    <script defer>
        var id = String({{ id }});
        var button = document.getElementById(id)
        selectButton(button);
    </script>
</main>
{% endblock %}