                    </a>
                    <a href="item.html" class="device-card-1 col text-center">
                        <img src="assets/iphone.png" alt="Phones" class="img-fluid">
                        <h6>Phones</h6>
                    </a>
                    <a href="item.html" class="device-card-1 col text-center">
                        <img src="assets/iphone.png" alt="Phones" class="img-fluid">
                        <h6>Phones</h6>
                    </a>
                        <img src="assets/iphone.png" alt="Phones" class="img-fluid">
                        <h6>Phones</h6>
                    </a>
                </div>
            </div>
        </section>

    </main>
{% endblock %}