{% extends "layout.html" %}

{% block title %} This vs That | {{data["name"]}} {% endblock %}

{% block pageStyle %}
<link rel="stylesheet" href="/styles/item.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

"{% block content %}"

<main class="p-5">
  <section>
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-start align-items-center">
                <div class="col">
                  <div class="row"><img src={{data["picture"]}} class="card-img-top mx-auto mb-2" alt="..."
                      style="width: 20rem;" />
                    <h2 class="card-title font-weight-bold text-center">{{data["name"]}}</h2>
                    <h4 class="card-title font-weight-bold text-center">{{data["manufacturer"]}}</h4>
                  </div>
                  <div class="col">
                    <!-- prices -->
                    <div class="row">
                      <!-- add the icon to the attributes -->
                      <div class="row">
                        <h4>Jarir Current Price</h4>
                        <p>
                          {{(jarir_price + " SAR") if data["jarir_link"] else "Not Available"}}
                          {% if data["jarir_link"] %}
                          <span>
                            <a href={{data["jarir_link"]}}>
                              <button class="btn btn-light border-light-subtle ms-3">
                                <img src="/assets/jarir.png" alt="jarir" class="pe-2" style="width: 2rem;">
                                <span>View at website</span>
                              </button>
                            </a>
                          </span>
                          {% endif %}
                        </p>

                      </div>
                    </div>
                    <div class="row">
                      <!-- add the icon to the attributes -->
                      <div class="row">
                        <h4>Noon Current Price</h4>
                        <p>
                          {{(noon_price + " SAR") if data["noon_link"] else "Not Available"}}
                          {% if data["noon_link"] %}
                          <span>
                            <a href={{data["noon_link"]}}>
                              <button class="btn btn-light border-light-subtle ms-3">
                                <img src="/assets/noon.png" alt="noon" class="pe-2" style="width: 2rem;">
                                <span>View at website</span>
                              </button>
                            </a>
                          </span>
                          {% endif %}
                        </p>
                      </div>
                    </div>

                    <hr>

                    <!-- specs -->
                    <div class="collapse" id="collapseContent1">
                      <div class="container d-flex flex-column">
                        <h2 class="text-center">Device Specifications:</h2>

                        <!-- The attributes of the device -->
                        {% if (data["category"] == "phone")%}
                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Length (mm)</h4>
                            <p>{{data["length"] if data["length"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Width (mm)</h4>
                            <p>{{data["width"] if data["width"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Depth (mm)</h4>
                            <p>{{data["depth"] if data["depth"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Weight (kg)</h4>
                            <p>{{data["weight"] if data["weight"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>IP Rating</h4>
                            <p>{{data["IP_rating"] if data["IP_rating"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Screen Size (inch)</h4>
                            <p>{{data["screen_size"] if data["screen_size"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Screen to Body Ratio</h4>
                            <p>{{data["screen_to_body_ratio"] if data["screen_to_body_ratio"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Display Type</h4>
                            <p>{{data["display_type"] if data["display_type"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Frequency (Hz)</h4>
                            <p>{{data["frequency"] if data["frequency"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Resolution (horizontal x vertical)</h4>
                            <p>{{(data["resolution_x"] + "x" + data["resolution_y"]) if data["resolution_x"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Pixel Density (ppi)</h4>
                            <p>{{data["pixel_density"] if data["pixel_density"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>CPU</h4>
                            <p>{{data["cpu"] if data["cpu"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Chipset</h4>
                            <p>{{data["chipset"] if data["chipset"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>GPU</h4>
                            <p>{{data["gpu"] if data["gpu"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Memory (GB)</h4>
                            <p>{{data["memory"] if data["memory"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Camera (MP)</h4>
                            <p>{{data["camera"] if data["camera"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Selfie Camera (MP)</h4>
                            <p>{{data["phone_selfie_camera"] if data["phone_selfie_camera"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Battery (mAh)</h4>
                            <p>{{data["battery"] if data["battery"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Charging Speed (W)</h4>
                            <p>{{data["charging_speed"] if data["charging_speed"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>OS</h4>
                            <p>{{data["os"] if data["os"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Headphone Jack</h4>
                            <p>{{data["headphone_jack"] if data["headphone_jack"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Sensors</h4>
                            <p>{{data["sensors"] if data["sensors"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Colors</h4>
                            <p>{{data["colors"] if data["colors"] else "Not Available"}}</p>
                          </div>
                        </div>
                        {% elif (data["category"] == "monitor") %}
                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Screen Size (inch)</h4>
                            <p>{{data["size"] if data["size"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Resolution (vxh)</h4>
                            <p>{{(data["resolution_x"] + "x" + data["resolution_y"]) if data["resolution_x"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Aspect Ratio</h4>
                            <p>{{(data["aspect_ratio_x"] + "x" + data["aspect_ratio_y"]) if data["aspect_ratio_x"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Refresh Rate (Hz)</h4>
                            <p>{{data["refresh_rate"] if data["refresh_rate"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Response Time (ms)</h4>
                            <p>{{data["response_time"] if data["response_time"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Panel Type</h4>
                            <p>{{data["panel_type"] if data["panel_type"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Peak Brightness (nits)</h4>
                            <p>{{data["brightness"] if data["brightness"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Curve Screen</h4>
                            <p>{{data["curve_screen"] if data["curve_screen"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Speakers</h4>
                            <p>{{data["speakers"] if data["speakers"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Colors</h4>
                            <p>{{data["color"] if data["color"] else "Not Available"}}</p>
                          </div>
                        </div>
                        {% elif (data["category"] == "mouse") %}
                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Length (mm)</h4>
                            <p>{{data["length"] if data["length"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Width (mm)</h4>
                            <p>{{data["width"] if data["width"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Depth (mm)</h4>
                            <p>{{data["depth"] if data["depth"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Weight (kg)</h4>
                            <p>{{data["weight"] if data["weight"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Sensor Type</h4>
                            <p>{{data["sensor_type"] if data["sensor_type"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>DPI</h4>
                            <p>{{data["dpi"] if data["dpi"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Max Acceleration (G)</h4>
                            <p>{{data["max_acceleration"] if data["max_acceleration"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Max Tracking Speed (IPS)</h4>
                            <p>{{data["max_tracking_speed"] if data["max_tracking_speed"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Polling Rate (Hz)</h4>
                            <p>{{data["polling_rate"] if data["polling_rate"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Onboard Memory</h4>
                            <p>{{data["onboard_memory"] if data["onboard_memory"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Connectivity</h4>
                            <p>{{data["connectivity"] if data["connectivity"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Num of Buttons</h4>
                            <p>{{data["number_of_buttons"] if data["number_of_buttons"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Chipset</h4>
                            <p>{{data["chipset"] if data["chipset"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Colors</h4>
                            <p>{{data["color"] if data["color"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>LED Lighting</h4>
                            <p>{{data["led_lighting"] if data["led_lighting"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Adjustable Weights</h4>
                            <p>{{data["adjustable_weight"] if data["adjustable_weight"] else "Not Available"}}</p>
                          </div>
                        </div>
                        {% elif (data["category"] == "keyboard") %}
                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Style</h4>
                            <p>{{data["style"] if data["style"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Switch Type</h4>
                            <p>{{data["switch_type"] if data["switch_type"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Backlit</h4>
                            <p>{{data["backlit"] if data["backlit"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Tenkeyless</h4>
                            <p>{{data["tenkeyless"] if data["tenkeyless"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Connection Type</h4>
                            <p>{{data["connection_type"] if data["connection_type"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Colors</h4>
                            <p>{{data["color"] if data["color"] else "Not Available"}}</p>
                          </div>
                        </div>
                        {% elif (data["category"] == "headset") %}
                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Type</h4>
                            <p>{{data["type"] if data["type"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Max Frequency Response (kHz)</h4>
                            <p>{{data["max_frequency_response"] if data["max_frequency_response"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Microphone</h4>
                            <p>{{data["microphone"] if data["microphone"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Wireless</h4>
                            <p>{{data["wireless"] if data["wireless"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Enclose Type</h4>
                            <p>{{data["encloser_type"] if data["encloser_type"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Colors</h4>
                            <p>{{data["color"] if data["color"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Active Noise Cancellation</h4>
                            <p>{{data["active_noise_cancelling"] if data["active_noise_cancelling"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Channels</h4>
                            <p>{{data["channels"] if data["channels"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Sensitivity</h4>
                            <p>{{data["sensitivity"] if data["sensitivity"] else "Not Available"}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <!-- add the icon to the attributes -->
                          {# <img src="assets/" +{{picture}}+"" class="icons" alt="icon"> #}
                          <div class="col">
                            <h4>Impedance</h4>
                            <p>{{data["impedance"] if data["impedance"] else "Not Available"}}</p>
                          </div>
                        </div>

                        {% endif %}



                      </div>
                    </div>

                    <a class="btn text-white bg-primary link p-md-1 my-1 d-flex align-items-center justify-content-center"
                      href="browse-select.html?id={{data[" id"]}}">
                      Compare Against Another Device
                    </a>
                  </div>
                  <a class="btn text-white bg-dark link p-md-1 my-1 d-flex align-items-center justify-content-center"
                    data-bs-toggle="collapse" href="#collapseContent1" role="button" aria-expanded="false"
                    aria-controls="collapseContent1">More</a>
                </div>
              </div>
            </div>



            <!-- Post Review -->

            {% if user %}
            <div class="card-footer py-3 border-0 rounded ">
              <div class="d-flex flex-start w-100">
                <img class="rounded-circle shadow-1-strong me-3" src=".{{user.picture}}" alt="avatar" width="40"
                  height="40" />
                <div class="form-outline w-100">

                  <form action="/postingReview" method="POST" id="reviewForm">
                    <textarea name="comment" class="form-control" id="textAreaExample" rows="4"></textarea>
                    <label class="form-label" for="textAreaExample">Review</label>
                    <br>

                    <!-- Stars Rating (source: https://codepen.io/anefzaoui/pen/NWPZzMa) -->
                    <fieldset class="rate">
                      <input type="radio" id="rating10" name="rating" value="5" />
                      <label class="label-rate" for="rating10" title="5 stars"></label>
                      <input type="radio" id="rating8" name="rating" value="4" />
                      <label class="label-rate" for="rating8" title="4 stars"></label>
                      <input type="radio" id="rating6" name="rating" value="3" />
                      <label class="label-rate" for="rating6" title="3 stars"></label>
                      <input type="radio" id="rating4" name="rating" value="2" />
                      <label class="label-rate" for="rating4" title="2 stars"></label>
                      <input type="radio" id="rating2" name="rating" value="1" />
                      <label class="label-rate" for="rating2" title="1 star"></label>
                    </fieldset>

                    <input type="hidden" name="deviceid" value="{{data.id}}">

                    <div class="float-end mt-2 pt-1">
                      <button type="submit" class="btn btn-primary btn-sm">
                        Post Review
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- source (modified): https://mdbootstrap.com/docs/standard/extended/comments/ -->
  <!-- Reviews -->
  <section class="gradient-custom">
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
          <div class="card">
            <div class="card-body p-4">
              <h4 class="text-center mb-4 pb-2">Reviews</h4>

              <div id="comments" class="d-flex flex-column-reverse">
                {% for review in reviews %}
                <div class="row comment">
                  <div class="col">
                    <div class="d-flex flex-start mt-4">
                      <img class="rounded-circle shadow-1-strong me-3" src=".{{review.picture}}" alt="avatar" width="65"
                        height="65" />
                      <div class="flex-grow-1 flex-shrink-1">
                        <div>
                          <div class="d-flex justify-content-start align-items-center">
                            <p class="mb-1">
                              {{review.name}} &nbsp;

                            <div class="checkedStars">
                              {% for i in range(review.rating) %}
                              <i class="fa fa-star active"></i>
                              {% endfor %}
                              {% for i in range(5 - review.rating) %}
                              <i class="fa fa-star notactive"></i>
                              {% endfor %}
                            </div>
                            </p>
                          </div>
                          <p class="small mb-0">
                            {{review.comment}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

"{% endblock %}"