<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Page Information -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>This vs That | Product Info</title>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />


  <!-- Common Website Style -->
  <link rel="stylesheet" href="styles/common-style.css">
  <!-- Specific Page Style -->
  <link rel="stylesheet" href="styles/item.css" />


</head>

<body>
  "{% block content %}"
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a href="index.html" class="navbar-brand">
          <img src="assets/This-vs-That.png" alt="logo" width="100" />
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbar">
          <ul class="navbar-nav mx-3">
            <li class="nav-item mx-3">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="browse.html">Browse</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
          </ul>

          <form class="form-inline my-2 my-md-0 ms-auto">
            <input class="form-control" type="text" placeholder="Search" />
          </form>

          <ul class="navbar-nav mx-3">
            <li class="nav-item mx-3">
              <a class="nav-link" href="signup.html">
                <button class="btn btn-warning">Sign Up</button>
              </a>
            </li>

            <li class="nav-item mx-3">
              <a class="nav-link" href="signin.html">
                <button class="btn btn-warning">Sign In</button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="p-5">
    <section>
      <div class="container my-5 py-5">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 col-lg-10 col-xl-8">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-start align-items-center">
                  <div class="col">
                    <div class="row"><img src={{data["picture"]}} class="card-img-top" alt="..." />
                      <h2 class="card-title font-weight-bold text-center">{{data["name"]}}</h2>
                      <h3 class="card-title font-weight-bold text-center">{{data["manufacturer"]}}</h3>
                    </div>
                    <div class="row">
                      <div class="collapse" id="collapseContent1">
                        <div class="container d-flex flex-column">
                          <!-- The attributes of the device -->
                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>Length (mm)</h4>
                                <p>{{data["length"]}}</p>
                              </div>
                            </div>

                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>Width (mm)</h4>
                                <p>{{data["width"]}}</p>
                              </div>
                            </div>
                            
                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>Depth (mm)</h4>
                                <p>{{data["depth"]}}</p>
                              </div>
                            </div>
                            
                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>Weight (kg)</h4>
                                <p>{{data["weight"]}}</p>
                              </div>
                            </div>

                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>IP Rating</h4>
                                <p>{{data["IP_rating"]}}</p>
                              </div>
                            </div>

                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>Screen Size (inch)</h4>
                                <p>{{data["screen_size"]}}</p>
                              </div>
                            </div>

                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>Screen to Body Ratio</h4>
                                <p>{{data["screen_to_body_ratio"]}}</p>
                              </div>
                            </div>

                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>Display Type</h4>
                                <p>{{data["display_type"]}}</p>
                              </div>
                            </div>

                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>Frequency (Hz)</h4>
                                <p>{{data["frequency"]}}</p>
                              </div>
                            </div>

                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>Resolution (vxh)</h4>
                                <p>{{data["resolution_v"] + " x " + data["resolution_h"]}}</p>
                              </div>
                            </div>

                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>Pixel Density (ppi)</h4>
                                <p>{{data["pixel_density"]}}</p>
                              </div>
                            </div>

                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>CPU</h4>
                                <p>{{data["cpu"]}}</p>
                              </div>
                            </div>

                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>Chipset</h4>
                                <p>{{data["chipset"]}}</p>
                              </div>
                            </div>

                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>GPU</h4>
                                <p>{{data["gpu"]}}</p>
                              </div>
                            </div>

                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>Memory (GB)</h4>
                                <p>{{data["memory"]}}</p>
                              </div>
                            </div>

                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>Camera (MP)</h4>
                                <p>{{data["camera"]}}</p>
                              </div>
                            </div>

                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>Selfie Camera (MP)</h4>
                                <p>{{data["phone_selfie_camera"]}}</p>
                              </div>
                            </div>

                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>Battery (mAh)</h4>
                                <p>{{data["battery"]}}</p>
                              </div>
                            </div>

                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>Charging Speed (W)</h4>
                                <p>{{data["charging_speed"]}}</p>
                              </div>
                            </div>

                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>OS</h4>
                                <p>{{data["os"]}}</p>
                              </div>
                            </div>

                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>Headphone Jack</h4>
                                <p>{{data["headphone_jack"]}}</p>
                              </div>
                            </div>

                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>Sensors</h4>
                                <p>{{data["sensors"]}}</p>
                              </div>
                            </div>

                            <div class="row">
                              <!-- add the icon to the attributes -->
                              {# <img src="assets/"+{{picture}}+"" class="icons" alt="icon"> #}
                              <div class="col">
                                <h4>Colors</h4>
                                <p>{{data["colors"]}}</p>
                              </div>
                            </div>

                            
                            

                            
                        </div>
                      </div>

                    </div>

                    <a class="btn text-white bg-primary link p-md-1 my-1 d-flex align-items-center justify-content-center" href="compare.html">
                      Compare Against Another Device
                    </a>
                    <a class="btn text-white bg-dark link p-md-1 my-1 d-flex align-items-center justify-content-center"
                      data-bs-toggle="collapse" href="#collapseContent1" role="button" aria-expanded="false"
                      aria-controls="collapseContent1">More</a>
                  </div>
                </div>
              </div>



              <!-- Post Review -->

              <div class="card-footer py-3 border-0 rounded ">
                <div class="d-flex flex-start w-100">
                  <img class="rounded-circle shadow-1-strong me-3" src="assets/profile-pic.png" alt="avatar" width="40"
                    height="40" />
                  <div class="form-outline w-100">
                    <form>
                      <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                      <label class="form-label" for="textAreaExample">Review</label>
                      <br>

                      <!-- Stars Rating (source: https://codepen.io/anefzaoui/pen/NWPZzMa) -->
                      <fieldset class="rate">
                        <input type="radio" id="rating10" name="rating" value="10" />
                        <label class="label-rate" for="rating10" title="5 stars"></label>
                        <input type="radio" id="rating9" name="rating" value="9" />
                        <label class="label-rate half" for="rating9" title="4 1/2 stars"></label>
                        <input type="radio" id="rating8" name="rating" value="8" />
                        <label class="label-rate" for="rating8" title="4 stars"></label>
                        <input type="radio" id="rating7" name="rating" value="7" />
                        <label class="label-rate half" for="rating7" title="3 1/2 stars"></label>
                        <input type="radio" id="rating6" name="rating" value="6" />
                        <label class="label-rate" for="rating6" title="3 stars"></label>
                        <input type="radio" id="rating5" name="rating" value="5" />
                        <label class="label-rate half" for="rating5" title="2 1/2 stars"></label>
                        <input type="radio" id="rating4" name="rating" value="4" />
                        <label class="label-rate" for="rating4" title="2 stars"></label>
                        <input type="radio" id="rating3" name="rating" value="3" />
                        <label class="label-rate half" for="rating3" title="1 1/2 stars"></label>
                        <input type="radio" id="rating2" name="rating" value="2" />
                        <label class="label-rate" for="rating2" title="1 star"></label>
                        <input type="radio" id="rating1" name="rating" value="1" />
                        <label class="label-rate half" for="rating1" title="1/2 star"></label>
                      </fieldset>


                      <div class="float-end mt-2 pt-1">
                        <button type="submit" class="btn btn-primary btn-sm">
                          Post Review
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- source (modified): https://mdbootstrap.com/docs/standard/extended/comments/ -->
    <!-- Reviews -->
    <section class="gradient-custom">
      <div class="container my-5 py-5">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 col-lg-10 col-xl-8">
            <div class="card">
              <div class="card-body p-4">
                <h4 class="text-center mb-4 pb-2">Reviews</h4>

                <div class="row">
                  <div class="col">
                    <div class="d-flex flex-start">
                      <img class="rounded-circle shadow-1-strong me-3" src="assets/profile-pic.png" alt="avatar"
                        width="65" height="65" />
                      <div class="flex-grow-1 flex-shrink-1">
                        <div>
                          <div class="d-flex justify-content-start align-items-center">
                            <p class="mb-1">

                              Ahmad Khalid &nbsp;
                            <div class="checkedStars">
                              <i class="fa fa-star activeChecked"></i>
                              <i class="fa fa-star activeChecked"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </div>
                            <span class="small">&nbsp;- 2 hours ago</span>

                            </p>

                          </div>
                          <p class="small mb-0">
                            It is a long established fact that a reader will
                            be distracted by the readable content of a page.
                          </p>
                        </div>

                      </div>
                    </div>

                    <div class="d-flex flex-start mt-4">
                      <img class="rounded-circle shadow-1-strong me-3" src="assets/profile-pic.png" alt="avatar"
                        width="65" height="65" />
                      <div class="flex-grow-1 flex-shrink-1">
                        <div>
                          <div class="d-flex justify-content-start align-items-center">
                            <p class="mb-1">

                              Saleh Fahd &nbsp;
                            <div class="checkedStars">
                              <i class="fa fa-star activeChecked"></i>
                              <i class="fa fa-star activeChecked"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </div>
                            <span class="small">&nbsp;- 2 hours ago</span>

                            </p>
                          </div>
                          <p class="small mb-0">
                            The standard chunk of Lorem Ipsum used since the
                            1500s is reproduced below for those interested.
                            Sections 1.10.32 and 1.10.33.
                          </p>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  "{% endblock %}"
</body>

</html>