{% extends "layout.html" %}

{% block title %} This vs That | Profile {% endblock %}

{% block pageStyle %}
    <link rel="stylesheet" href="styles/profile.css">
{% endblock %}

{% block content %}
    <!-- source (Modified): https://www.bootdey.com/snippets/view/profile-with-data-and-skills#css -->
    <main class="container">
        <div class="main-body">
            <div class="gutters-sm">
                <!-- Profile Card -->
                <div class="mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src={{userData.picture if (userData.picture) else "./assets/profile-pic.png"}} alt="profile_pic" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4>{{userData.username}}</h4>
                                    <div class="d-flex flex-column">
                                        <a href="profile-edit.html">
                                            <button class="btn btn-primary my-1 mx-5">Edit Profile</button>
                                        </a>
                                        <a href="profile-password.html">
                                            <button class="btn btn-outline-primary my-1 mx-5">Change Password</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Details Card -->
                <div class="">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h3 class="card-title">Profile Information</h3>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Username</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{userData.username}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{userData.name}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{userData.email}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">User Type</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{userData.usertype}}
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}