{% extends "layout.html" %}

{% block title %} This vs That | Change Password {% endblock %}

{% block pageStyle %}
    <link rel="stylesheet" href="styles/profile.css">
{% endblock %}

{% block content %}
    <main class="container">
        <div class="main-body">
            <div class="gutters-sm">

                <div class="">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h3 class="card-title">Change Password</h3>
                            <hr>
                            <form>
                                <!-- Form Group (old password)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputOldPassword">Current Password</label>
                                    <input class="form-control" id="inputOldPassword" type="password">
                                </div>

                                <!-- Form Group (new password)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputNewPassword">New Password</label>
                                    <input class="form-control" id="inputNewPassword" type="password">
                                </div>

                                <!-- Form Group (confirm new password)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputConfNewPassword">Confirm New Password</label>
                                    <input class="form-control" id="inputConfNewPassword" type="password">
                                </div>

                                <!-- Save changes button-->
                                <div class="text-center">
                                    <button class="btn btn-primary" type="button">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}