@font-face {
    font-family: IBMPlex;
    src: url(/assets/fonts/IBMPlexSans-Regular.ttf);
}

.icons{
    object-fit: contain;
    width: 5rem;
    height: 5rem;
    max-width: fit-content;
    max-height: fit-content;
}