@font-face {
    font-family: IBMPlex;
    src: url(/assets/fonts/IBMPlexSans-Regular.ttf);
}

* {
    font-family: IBMPlex;
}

nav {
    font-size: calc(0.5rem + 1vw);
}

h1 {
    font-weight: bolder;
    font-size: 50rem;
}

.catagory-card {
    padding: 2rem;
    border-radius: 2rem;    
    background-color: #ffffff;
    /* box-shadow: 1rem 1rem gray; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.catagory-title {
    font-size: calc(0.5rem + 1vw);
}

.device-card {
    max-width: 100px;
    padding: 2rem 0rem;
    border-radius: 2rem;
    background-color: #ffffff;
    /* box-shadow: 1rem 1rem gray; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}   